@import '/src/styles/UtilityStyles.scss';

.wallet_page {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;

  padding: 2rem 0 2.25rem 2rem;
  border: 1px solid green;

  .wallet__container {
    width: 22.5rem;
    padding: 1.25rem;
    border-radius: 2rem;
    background: #F7F7F8;
    box-shadow: 0 20px 30px rgba(50, 49, 66, 0.2);
    border: 1px solid blue;


    .container_header {
      display: flex;
      padding: 0 0.75rem 0.7rem 0.75rem;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #EBEBEC;

      .header_title{
        color: #04071E;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

      }
    }
    .container_body{

      .body_input{
        @extend .utility_input;
        width: 20rem;

        margin-top: 2rem;
      }

      .body_empty{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 2.5rem;

        .empty_image{
          width: 5.5rem;

        }

        .empty_title{
          color: #E5E5EA;
          text-align: center;
          font-family: Roboto;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

      }

    }
  }
}

