@import '/src/styles/UtilityStyles.scss';

.wallet_page {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;

  padding: 2rem 0 2.25rem 2rem;

  .wallet__container {
    min-width: 22.5rem;
    max-height: 57.21rem;
    padding: 1.25rem;
    border-radius: 2rem;
    background: var(--bg-accent);
    box-shadow: var(--shadow);


    .container_header {
      display: flex;
      padding: 0 0.75rem 0.7rem 0.75rem;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid var(--secondary-color);

      .header_title{
        color: var(--primary-color);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

      }
    }
    .container_body{

      .body_input{
        @extend .utility_input;
        width: 20rem;
        margin-bottom: 1.5rem;

        margin-top: 2rem;
      }

      .body_empty{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 2.5rem;

        .empty_image{
          width: 5.5rem;

        }

        .empty_title{
          color: #E5E5EA;
          text-align: center;
          font-family: Roboto;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

      }

    }
  }
  .wallet_nav_container{
    width: 63.6275rem;
    display: flex;
    flex-direction: column;

    max-height: 9rem;

    margin-left: 2.7rem;

    /*border-radius: 2rem;
    background: #F7F7F8;
    box-shadow: 0 20px 30px rgba(50, 49, 66, 0.2);*/

    .nav_container_header{
      display: flex;
      align-items: center;
     /* width: 63.6275rem;*/

      justify-content: space-between;
      /*padding: 1rem 0 0 0;*/

      margin-bottom: 1.85rem;

      .nav_header_title{
        color: var(--primary-color);
        font-family: Roboto;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }




    }
    .nav_container_body{
      display: flex;

      .nav_container_list{
        display: flex;
        gap: 0.63rem;

        .nav_container_item{
          list-style: none;
          width: 8.75rem;
          text-align: center;
          cursor: pointer;
          color: var(--primary-color);
          font-family: Roboto;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 0.4rem;

          /*&:active{
            color: white;
          }*/

        }
        .nav_container_item_selected{
          list-style: none;
          width: 8.75rem;
          text-align: center;
          cursor: pointer;

          color: white;
          background-color: var(--primary-green);
          font-family: Roboto;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          border-radius: 2rem;
          padding: 0.4em;
          transition: 0.3s ease-in-out;
        }
      }
    }

    .categoryCardContainer{
      display:flex;
      justify-content: center;
      gap: 3.5rem;
      row-gap: 2rem;
      padding-top: 3rem;
      flex-wrap: wrap;

    }
    .categoryCard{
      @extend .utility_login_container;
      width: 26.3rem;
      padding: 1rem 1.5rem 1rem 2.5rem;
      justify-content: space-between;
      gap: 0;

      .cardDesc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .descCategory{
          color: #7D7D8C;
          font-family: Roboto;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .descTitle{
          color: var(--primary-color);
          font-family: Roboto;
          font-size: 2rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      /* .cardImageContainer{
         display: flex;
         justify-content: flex-end;
       }*/

      .cardImage{
        display: flex;
        height: 110px;
        width: 110px;
      }
    }
  }
}

