.app.light{
  --bg-color: #F0F0F6;
  --bg-accent: #F7F7F8;
  --shadow: 0 20px 30px rgba(50, 49, 66, 0.2);

  --primary-color: #04071E;
  --secondary-color : #EBEBEC;

  --primary-green: #34C759;




}