@import '/src/styles/UtilityStyles.scss';

.login_page{
  @extend .utility_login_block;

  .login_page__container{
    @extend .utility_login_container;

    .sign_in_block{
      display: flex;
      flex-direction: column;
      width: 15rem;

      .sign_in_form{
        display: flex;
        flex-direction: column;
        .sign_in_title{
          @extend .utility_title;

          margin-bottom: 0.94rem;
        }
        .sign_in_label{
          @extend .utility_label;

          margin-left: 12px;
          margin-bottom: 10px;
        }
        .sign_in_input{
          @extend .utility_input;

          margin-bottom: 1.88rem;
        }
        .sign_in_button{
          @extend .utility_btn;

          margin-top: 0.81rem;
          margin-bottom: 0.94rem;
        }

      }

      .sign_in_divider{
        position: relative;
        color: #AAACB6;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        margin-bottom: 1.25rem ;

        &:before{
          content: "";
          position: absolute;
          width: 3.75rem;
          /*height: 1px;*/
          border: 1px solid #EBEBEC;
          border-radius: 10px;
          background-color: #EBEBEC;
          display: block;
          top: 50%;
          left: 44px;
        }
        &:after{
          content: "";
          position: absolute;
          width: 3.75rem;
          /*height: 1px;*/
          border: 1px solid #EBEBEC;
          border-radius: 10px;
          background-color: #EBEBEC;
          display: block;
          top: 50%;
          right: 44px;
        }

      }
      .sign_in_links{
        display: flex;
        justify-content: center;
        gap: 2rem;

        margin-bottom: 2.5rem;

        .sign_in_img{

        }


      }
      .sign_in_footer{
        display: flex;
        gap: 1.94rem;

        .sign_in_account{
          width: auto;
          color: #32ADE6;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration-line: underline;
        }

      }


    }
  }

}



