@import '/src/styles/UtilityStyles.scss';

.recovery_page {
  @extend .utility_login_block;


  .recovery_page__container {
    @extend .utility_login_container;
    width: 40rem;
    justify-content: center;
    padding: 1.25rem 0 2.44rem 0;


    .reg_block {
      display: flex;
      flex-direction: column;
      width: 15rem;

      .reg_form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .reg_title {
          @extend .utility_title;
          font-size: 1.5rem;
          font-weight: 700;

          margin-bottom: 0.94rem;
        }
        .reg_subtitle{
          width: 23.5rem;
          color: #7D7D8C;
          text-align: center;
          font-family: Roboto;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          margin-bottom: 4.19rem;
        }




        .input_container {
          position: relative;
          display: flex;

          .reg_label {
            @extend .utility_label;
            position: relative;
            display: block;
            align-self: center;
            margin-right: 0.81rem;

          }

          .error_img {
            position: absolute;
            right: -30px;
            top: 9px;

          }


          .reg_input {
            @extend .utility_input;
            position: relative;


          }

          .error_text {
            @extend .utility_error_text;
            bottom: -20px;
            left: 57px;

          }
        }

        .reg_footer{
          display: flex;
          gap: 0.88rem;

          margin-top: 4.19rem;
          .reg_back{
            position: relative;
            display: flex;
            align-items: flex-end;
            cursor: pointer;
            &:before{
              content: url("src/assets/LoginPage/Expand_left.svg");
              position: absolute;
              top: 50%;
              left: 50%;
              height: 24px;
              transform: translateX(-50%) translateY(-50%);
            }
          }
          .reg_button{
            @extend .utility_btn;

          }
        }
      }
    }
  }
}
