@import '/src/styles/UtilityStyles.scss';

.registration_page{
  @extend .utility_login_block;

  .registration_page__container{
    @extend .utility_login_container;

    .reg_block{
      display: flex;
      flex-direction: column;
      width: 15rem;

      .reg_form{
        display: flex;
        flex-direction: column;
        .reg_title{
          @extend .utility_title;

          margin-bottom: 0.94rem;
        }
        .reg_label{
          @extend .utility_label;
          position: relative;

          margin-left: 12px;
          margin-bottom: 10px;

        }
        .reg_label_required{
          position: relative;
          color: var(--primary-color);
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          margin-left: 12px;
          margin-bottom: 10px;

          &:after{
            content: url("src/assets/LoginPage/required.svg");
            position: relative;
            bottom: 7px;
            left: 3px;
          }
        }
        .input_container{
          position: relative;

          .error_img{
              position: absolute;
              right: -30px;
              top: 9px;

          }


          .reg_input{
            @extend .utility_input;
           position: relative;

           margin-bottom: 1.85rem;
         }
          .error_text{
            @extend .utility_error_text;

          }
        }

        .reg_footer{
          display: flex;
          gap: 0.88rem;
          margin-top: 3.12rem;
          .reg_back{
            position: relative;
            display: flex;
            align-items: flex-end;
            cursor: pointer;
            &:before{
              content: url("src/assets/LoginPage/Expand_left.svg");
              position: absolute;
              top: 50%;
              left: 50%;
              height: 24px;
              transform: translateX(-50%) translateY(-50%);
            }
          }
          .reg_button{
            @extend .utility_btn;


          }
        }

      }
    }

  }
}