@import '/src/styles/UtilityStyles.scss';
.account__view_nav_container{
  width: 63.6275rem;
  display: flex;
  flex-direction: column;


  margin-left: 2.7rem;

  .account__nav_header{
    display: flex;
    align-items: center;
    /* width: 63.6275rem;*/

    justify-content: space-between;

    margin-bottom: 1.85rem;

    .account__nav_header_row{
      display: flex;
      align-items: baseline;

      gap: 1rem;


      .account__nav_header_title{
        color: var(--primary-color);
        font-family: Roboto;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .account__nav_header_subtitle{
        color: #7D7D8C;
        font-family: Roboto;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .nav_container_body{
    display: flex;

    .nav_container_list{
      display: flex;
      gap: 0.63rem;

      .nav_container_item{
        list-style: none;
        width: 8.75rem;
        text-align: center;
        cursor: pointer;
        color: var(--primary-color);
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 0.4rem;

        /*&:active{
          color: white;
        }*/

      }
      .nav_container_item_selected{
        list-style: none;
        width: 8.75rem;
        text-align: center;
        cursor: pointer;

        color: white;
        background-color: var(--primary-green);
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 2rem;
        padding: 0.4em;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.accountingList{
  display: flex;
  flex-direction: column;
  padding: 1.44rem 1.8rem 1.44rem 1.8rem;
  /*flex-wrap: wrap;*/
  border-radius: 2rem;
  background: var(--bg-accent);
  box-shadow: var(--shadow);
  max-height: max-content;
  overflow-y: auto;

  margin-top: 3rem;


  .listHeader{
    display: flex;
    width: 50rem;
    justify-content: space-between;
    align-items: baseline;


    .inputGroup{
      display: flex;
      align-items: baseline;
      gap: 0.8rem;

      .inputLabels{
        color: var(--primary-color);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .listInput{
        @extend .utility_input;
        width: 180px;
        position: relative;
      }
    }
  }

  .listBody{
    display: flex;
    flex-direction: column;
    margin-top: 1.85rem;

    .listGroups{
      display: flex;
      margin-bottom: 19px;
      padding-left: 20px;
      padding-right: 30px;

      .listLabels{
        color: var(--primary-color);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 200px;

        &:nth-last-child(1){
          width: auto;
        }
      }
    }
    .elContainer{
      display: flex;
      flex-direction: column;
      gap: 10px;

      .listEl{
        display: flex;
        justify-content: space-between;
        border-radius: 32px;
        /*padding: 12px;*/
        align-items: center;
        padding: 22px;
        width: auto;
        background: var(--bg-color);

        .elText{
          color: var(--primary-color);
          font-family: Roboto;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width: 130px;
          &:nth-last-child(1){
            width: auto;
          }
        }
        .elBtn{
          @extend .utility_btn;
          width: 70px;
          padding: 4px 24px;
          border-radius: 32px;
          background: var(--primary-green);

          color: var(--primary-color);
          text-align: center;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          border: 1px solid var(--primary-green);
          cursor: pointer;

          &:hover{
            background: #F7F7F8;
            color: var(--primary-green);
          }
        }
      }
    }



  }

}