.avatar_block_title{
  display: flex;
  color: #04071E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: flex-start;

  margin-bottom: 1rem;
}
.avatar_grid{
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  padding: 0 2rem 0 2rem;

  .grid_item{
    display: flex;
    width: 64px;
    height: 64px;
    cursor: pointer;
    border: 3px solid gray;

    border-radius: 50%;
    &.active{
      border: 3px solid #34C759;

      border-radius: 50%;

    }
  }
}